/// <reference path = "UI.scss">


#UI {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    display: grid;
    grid-template-areas: 'top-left top-middle top-right' 'left middle right' 'bottom-left bottom-middle bottom-right';
    grid-template-columns: 1fr 1fr max-content;
    grid-template-rows: max-content 1fr max-content;

    #skill-panel {

        #active-players {
            display: flex;
            flex-direction: row;
            grid-area: active-players;

             > div{
                 flex:1;
                 height:5px;
             }
        }

        display: grid;
        grid-template-areas: 'active-players' 'skills' 'end-turn-button';
        grid-area: bottom-right;
        background-color: $color_dark;

    }

    #menu-panel {
        pointer-events: all;
        font-size: 20px;
        grid-area: top-right;

        .buttons {
            padding: $spacing-small;
            background-color: $color_dark;
            display: grid;
            grid-template-columns: repeat(5, 42px);
            grid-template-rows: 42px;
            gap: $spacing-small;
            justify-content: center;
        }

        #current-player {
            grid-area: top-right;
            height: 5px;
        }
    }



    #endTurn {
        grid-area: end-turn-button;
        pointer-events: All;

        button {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
    #UI {
        grid-template-columns: 0px 0px 1fr;
    }
}
