/// <reference path = "UI.scss">




#unit-UI {
    pointer-events: all;
    justify-content: center;
    display: grid;
    grid-column-gap: $UI_padding_1;
    grid-row-gap: $UI_padding_1;
    grid-template-columns: repeat(9, 16px);
    grid-template-rows: repeat(3, 16px);
    grid-template-areas:
        'character-portrait character-portrait  character-portrait      status      status      status      status      status      status' 'character-portrait character-portrait  character-portrait      skill-1     skill-1     skill-2     skill-2     skill-3     skill-3' 'character-portrait character-portrait  character-portrait      skill-1     skill-1     skill-2     skill-2     skill-3     skill-3';

    #character-portrait {
        grid-area: character-portrait;
        padding: 0px;
        background-color: $UI_Color_1;

        img {
            width: 100%;
            height: 100%;
        }
    }

    #skill-1 {
        grid-area: skill-1;
        pointer-events: All;
        position: relative;

        button {
            width: 100%;
            height: 100%;
            padding:0px;
        }

        img {
            width: 100%;
            height: 100%;
        }

        .key {
            position: absolute;
            right: 2px;
            bottom: 0px;
        }
    }

    .skill-2 {
        grid-area: skill-2;
    }

    .skill-3 {
        grid-area: skill-3;
    }
}

