/// <reference path = "_references.scss">


#intro {
    width: 100vw;
    min-height: 100vh;
    background-color: #343a40;
    text-align: center;
    padding-top: 15vh;
    color: white;

    h1 {
        font-size: 4.5rem;
        margin-bottom: 70px;
    }

    input {
        margin: auto;
        //width: 300px;
    }
}