@page "/"
@using Wolfden.Client.Models
@using System.Drawing;
@using Wolfden.Client.Other
@using Wolfden.Client.Pages.Dashboard;
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime;
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@layout EmptyLayout

<div class="d-flex justify-content-center">
    <div id="intro">
        <img src="/images/Warg.png" />
        <h1>Warg</h1>

        <h3>Choose a nickname:</h3>
        <Nickname StartAsEditing="true" ></Nickname>
        <br />
        <button @onclick="Click" class="btn btn-secondary btn-lg btn-block"><h4>Play</h4></button>

    </div>
</div>

@code{
    private async Task Click()
    {
        Statics.AudioPlayer.EnableMusic();
        await localStorage.SetItemAsync("soundEnabled", true);
        Statics.AudioPlayer.PlayMusic(LupusBlazor.Audio.Tracks.TitleTheme);
        JSRuntime.InvokeVoidAsync("toggleFullScreen");
        NavigationManager.NavigateTo("Menu");
    }
}