<h2>Strike</h2>

<p>Deal damage to a target and push it. If target is pushed into an obstacle both the target and the obstacle take an additional damage.</p>

<img src="/images/Attack descriptions/HeroAttackDescription.png" />

@code {

}
