<h2>Yoink</h2>

<p>Pull a target torwards you. If target is pulled into an obstacle both the target and the obstacle take damage.</p>

<img src="/images/Attack descriptions/SlimeAttackDescription.png" />

@code {

}
