.icon-list {
    text-align: center;
    padding-top: 50px;

    a {
        border: 1px solid;
        font-size: xx-large;
        margin: 15px;
        padding: 5px;

        .oi {
            min-width: 50px;
        }
    }
}
