@using System.ComponentModel.DataAnnotations;
@using Wolfden.Client.Other;
@using LupusBlazor.Audio;

<div id="mini-profile">
    <div id="mini-profile-audio">
        <AudioButton Track="Tracks.TitleTheme" AutoPlay="true"></AudioButton>
    </div>

    <div id="mini-profile-picture">
        <img src="/images/anonymous.jpg" width="48" height="48" />
    </div>


    <Nickname></Nickname>

</div>
