@page "/rules/gameplay"





<_menu />



<Secondary Title="Gameplay">
    <Content>

        <p>
            The objective is to defeat the enemy army. There are two ways to defeat an opponent: destroy every one of the opponent's units on the map or capture the opponent's headquarters.<sup id="cite_ref-ign_1-2" class="reference"><a href="#cite_note-ign-1">&#91;1&#93;</a></sup> However, some maps have specific objectives, such as capturing a certain number of cities to claim victory.<sup id="cite_ref-ign_1-3" class="reference"><a href="#cite_note-ign-1">&#91;1&#93;</a></sup> The available modes of play include "Field Training" which is a tutorial mode,<sup id="cite_ref-ign_1-4" class="reference"><a href="#cite_note-ign-1">&#91;1&#93;</a></sup> a campaign mode<sup id="cite_ref-ign_1-5" class="reference"><a href="#cite_note-ign-1">&#91;1&#93;</a></sup> which carries the game's storyline, the "War Room" which is a collection of maps on which the player strives for high scores, as well as multiplayer modes and a map design mode. The "Campaign" and "War Room" modes both help to rank the player up (from Rank #100 to Rank #1) and to earn coins to unlock COs and maps in the "Battle Maps" shop.<sup id="cite_ref-ign_1-6" class="reference"><a href="#cite_note-ign-1">&#91;1&#93;</a></sup> The modes also gives the player a rank for effort after winning a battle on that map, which assesses by the speed, power, and technique in that battle, speed is the number of days spent trying to win the battle, power being how many enemy units you defeated, and technique is the number of your units that survived (in percentage).
        </p>
        <h3><span class="mw-headline" id="Battle_system">Battle system</span></h3>
        <p>
            The battles of <i>Advance Wars</i> are <a href="/wiki/Turn-based_tactics" title="Turn-based tactics">turn-based</a>. Two to four armies, each headed by a commanding officer, take turns building and commanding units on grid-based maps, while attacking enemy units, moving positions, holding ground, or capturing enemy/neutral properties (cities, ports, airports, bases, or HQ).<sup id="cite_ref-ign_1-7" class="reference"><a href="#cite_note-ign-1">&#91;1&#93;</a></sup>
        </p>
        <div class="thumb tright"><div class="thumbinner" style="width:222px;"><a href="/wiki/File:GBA_Advance_Wars.png" class="image"><img alt="" src="//upload.wikimedia.org/wikipedia/en/thumb/1/14/GBA_Advance_Wars.png/220px-GBA_Advance_Wars.png" decoding="async" width="220" height="147" class="thumbimage" srcset="//upload.wikimedia.org/wikipedia/en/1/14/GBA_Advance_Wars.png 1.5x" data-file-width="240" data-file-height="160" /></a>  <div class="thumbcaption"><div class="magnify"><a href="/wiki/File:GBA_Advance_Wars.png" class="internal" title="Enlarge"></a></div>Screenshot of <i>Advance Wars</i></div></div></div>
        <p>
            All units are limited in the types of units they can attack.<sup id="cite_ref-ign_1-8" class="reference"><a href="#cite_note-ign-1">&#91;1&#93;</a></sup> What dictates a unit's ability to attack different targets are its primary and secondary weapons. For example, the <a href="/wiki/Mechanized_infantry" title="Mechanized infantry">Mech</a> unit has a <a href="/wiki/Bazooka" title="Bazooka">bazooka</a> that can only be fired at land vehicles, but are more powerful for that purpose than their secondary weapons, <a href="/wiki/Machine_gun" title="Machine gun">machine guns</a>, which Mechs can use against other Mechs, <a href="/wiki/Infantry" title="Infantry">Infantry</a>, and <a href="/wiki/Helicopter" title="Helicopter">helicopters</a>.
        </p>
        <p>
            Units that can attack, do so either directly (can attack adjacent to another unit where standing or moved, but be counter-attacked by the enemy unit), or in-directly (must remain still to attack, and have an enemy in firing range). The amount of damage done by a unit to an enemy unit in combat, comes down to a number of factors: the number of <a href="/wiki/Health_(game_mechanic)" class="mw-redirect" title="Health (game mechanic)">hit points</a> the attacker has, whether they can use their main weapon (if not, they either cannot, or will use their secondary weapon instead), the type of unit the attacker and the defender are, and the terrain the enemy unit is on; by contrast, if the enemy unit is directly attacked, the same factors determine the damage done when they counter-attack the attacking unit. The majority of units have main weapons with a limited supply of ammunition, with the amount of ammo depending on the type of unit. Units with secondary weapons will resort to these when their primary weapon's ammunition runs out until they are resupplied.
        </p>
        <h3><span class="mw-headline" id="Terrain">Terrain</span></h3>
        <p>
            The terrain on a map affects unit movement, vision, and the defense attribute of units stationed in the terrain.<sup id="cite_ref-ign_1-9" class="reference"><a href="#cite_note-ign-1">&#91;1&#93;</a></sup> The different types of terrain include: roads, plains, woods, bases, HQs (Headquarters), ports, cities, airports, the sea, reefs, shoals, rivers, and mountains.  All units are affected by terrain, except air units, which gain neither an advantage or a disadvantage as a result. <a href="/wiki/Weather_conditions" class="mw-redirect" title="Weather conditions">Weather conditions</a>, when active, can affect the vision and movement of ground units, while <a href="/wiki/Fog_of_war" title="Fog of war">Fog of war</a>, when active, can reduce a player's vision, making them depend on individual units' lines of sight, which varies from unit to unit; infantry can expand the vision when in mountains, while woods and reefs can't be seen into unless a unit is adjacent to it.
        </p>
        <h3><span class="mw-headline" id="Units">Units</span></h3>
        <p>
            There are 18 different types of military units in <i>Advance Wars</i>. Each unit has a set amount of attack power, vision range in Fog of war, movement range and type, and fuel supply, and some units have two weapons which can be used against different types of enemy units. There are both direct and indirect attack units, as well as transport units. All the units are either infantry, vehicles, ships or air units. Units have specific strengths and weaknesses.  One rule of thumb that units have to adhere to is their fuel supply; ground units who run out cannot move, while air and naval units who run out are destroyed as they consume fuel even when stationary. Submarines consume more fuel than usual when submerged.<sup id="cite_ref-ign_1-10" class="reference"><a href="#cite_note-ign-1">&#91;1&#93;</a></sup>
        </p>
        <h3><span class="mw-headline" id="Multiplayer">Multiplayer</span></h3>
        <p>
            In Multiplayer mode, players can compete against the AI or against other human players. Multiplayer matches feature a variety of settings that can be changed pre-battle. Multiplayer comes in two forms: Versus mode and Link mode. In Versus mode, only one GBA system is used, which every participant in the game uses. One person will take their turn, then pass the system to the next person. Link mode is the same game as Versus mode gameplay-wise, but multiple consoles are used, one for each person.<sup id="cite_ref-ign_1-11" class="reference"><a href="#cite_note-ign-1">&#91;1&#93;</a></sup> It can be played with just one game pak or with one game pak per player.
        </p>
        <h3><span class="mw-headline" id="Commanding_officers">Commanding officers</span></h3>
        <p>
            Armies are led by Commanding Officers who control units. Most COs provide units with innate special advantages and disadvantages, such as extra firepower, greater strength, or a shorter firing range, with some COs being better with some units than others (i.e. being better with air units, than naval units). COs also have a Power Meter which fills up by defeating enemy units or when on the receiving end of a brutal offensive attack. When the meter is full, a CO can unleash their CO Power, which gives a temporary positive effect to friendly units and/or a negative effect to enemy units.<sup id="cite_ref-ign_1-12" class="reference"><a href="#cite_note-ign-1">&#91;1&#93;</a></sup> For example, Nell gives a Critical Strike bonus and Olaf makes it snow, disadvantaging his opponent.
        </p>

    </Content>
</Secondary>