@page "/rules/general"





<_menu />



<Secondary Title="Advance Wars">
    <Content>

        <p>
            <i><b>Advance Wars</b></i><sup id="cite_ref-2" class="reference"><a href="#cite_note-2">[a]</a></sup> is a <a href="/wiki/Turn-based_tactics" title="Turn-based tactics">turn-based tactics</a> <a href="/wiki/Video_game" title="Video game">video game</a> developed for the <a href="/wiki/Game_Boy_Advance" title="Game Boy Advance">Game Boy Advance</a> by <a href="/wiki/Intelligent_Systems" title="Intelligent Systems">Intelligent Systems</a> and published by <a href="/wiki/Nintendo" title="Nintendo">Nintendo</a>. It was released in North America on September 10, 2001<sup id="cite_ref-ign_1-1" class="reference"><a href="#cite_note-ign-1">[1]</a></sup> with a later release date in Japan and Europe, but the game release was put on hold in both Japanese and  European regions due to the following day's <a href="/wiki/September_11_attacks" title="September 11 attacks">September 11 attacks</a> in the United States. Although the game was released in Europe in January 2002, neither GBA game was released in Japan until the <i>Game Boy Wars Advance 1+2</i> compilation on November 25, 2004. <i>Advance Wars</i> has been released for the Wii U Virtual Console simultaneously in Europe and North America on April 3, 2014.
        </p>

        <p>
            <i>Advance Wars</i> is the first game in the <i>Advance Wars</i> series of video games, followed by <i><a href="/wiki/Advance_Wars_2:_Black_Hole_Rising" title="Advance Wars 2: Black Hole Rising">Advance Wars 2: Black Hole Rising</a></i> (also for the Game Boy Advance), and then by <i><a href="/wiki/Advance_Wars:_Dual_Strike" title="Advance Wars: Dual Strike">Advance Wars: Dual Strike</a></i> and <i><a href="/wiki/Advance_Wars:_Days_of_Ruin" title="Advance Wars: Days of Ruin">Advance Wars: Days of Ruin</a></i> for the <a href="/wiki/Nintendo_DS" title="Nintendo DS">Nintendo DS</a>. These games form a sub-series of the <a href="/wiki/Wars_(series)" title="Wars (series)"><i>Wars</i> series</a> set of games.
        </p>

        <p>
            The game was originally intended to remain exclusive to Japan, like the previous entries in the series, which were kept in Japan due to Nintendo feeling that consumers would not be interested in turn-based games, or in such complicated games. In order to alleviate this, the developers made the <a href="/wiki/Game_mechanics" title="Game mechanics">mechanics</a> easy to understand, adding in an in-depth <a href="/wiki/Tutorial" title="Tutorial">tutorial</a> that didn't require players to read the manual. Designer Kentaro Nishimura commented that "<i>Advance Wars</i><span class="nowrap" style="padding-left:0.1em;">'</span> success shifted Nintendo’s attitude over western tastes."
        </p>

        <p>
            The story involves Orange Star Army's efforts in battling the other countries' armies, where Orange Star <a href="/wiki/Commanding_officer" title="Commanding officer">commanding officer</a> Andy is accused of attacking the other countries' troops for no reason. The game was released to critical acclaim and has been listed among <a href="/wiki/List_of_video_games_considered_the_best" title="List of video games considered the best">the greatest video games of all time</a>.
        </p>

    </Content>
</Secondary>