@page "/rules/plot"





<_menu />



<Secondary Title="Plot">
    <Content>

        <p>
            The story of the <i>Advance Wars</i> begins in the "Field Training" tutorial mode, with the nation of Orange Star in a war against the neighboring nation of Blue Moon, with Olaf as the Blue Moon Army <a href="/wiki/Commanding_officer" title="Commanding officer">commanding officer</a> (CO). Olaf suddenly ordered an invasion of the Orange Star nation and is in battle with the Orange Star Army. The campaign continues the story that started in the tutorial. Nell, the <i><a href="/wiki/De_facto" title="De facto">de facto</a></i> leader of the Orange Star COs, gives the player the duty of a tactical advisor for the Orange Star Army.<sup id="cite_ref-3" class="reference"><a href="#cite_note-3">&#91;2&#93;</a></sup>
        </p>
        <p>
            The player follows the war effort through all four countries, with its own COs, over the course of the game. Starting with having only one choice of a CO to advise, Andy, the player will have a choice of two more Orange Star COs, Max and Sami, to advise as the story progresses, each with their own advantages and disadvantages. Depending on which CO is chosen by the player to advise, there are times when a mission is split into a choice of two or three, where the maps and dialog could be different. After completing that mission, the story paths could split up, depending on which CO was chosen in that previous mission, with the story differing from the other path, eventually leading back to the main path.
        </p>
        <p>
            After winning a battle against Green Earth, Andy gets mysteriously accused by Green Earth's CO, Eagle, of committing a treacherous act of aggression against Green Earth.<sup id="cite_ref-4" class="reference"><a href="#cite_note-4">&#91;3&#93;</a></sup> After defeating the Blue Moon troops that invaded the Orange Star country, the Orange Star Army then invade the Blue Moon country, defeating their troops. The Blue Moon COs, Olaf and Grit, are revealed to be COs whom both used to work for the Orange Star Army, but switched to Blue Moon. When the Orange Star Army's intention was to just pass through the other two countries, Green Earth and Yellow Comet, the countries' COs like Kanbei of Yellow Comet assume a threat of an invasion and declare battles against the Orange Star Army in their land.<sup id="cite_ref-5" class="reference"><a href="#cite_note-5">&#91;4&#93;</a></sup>
        </p>
        <p>
            Later on, Green Earth CO Drake tells Eagle that the Orange Star Army didn't attack Green Earth, saying that "This entire conflict has been orchestrated from the beginning." Meanwhile, Yellow Comet CO Sonja and Grit try to discover the person who is really behind the attacks. When Eagle meets Andy again, Eagle again accuses Andy of attacking Green Earth, to which the Orange Star COs eventually convince Eagle that it wasn't Andy who attacked Green Earth. This explains why the three nations have been declaring battles against Orange Star, as they thought Andy attacked them first.<sup id="cite_ref-6" class="reference"><a href="#cite_note-6">&#91;5&#93;</a></sup>
        </p>
        <p>
            When Eagle meets Sonja, Sonja also tells Eagle that Andy wasn't behind the attacks, saying it was someone else, and goes with her to see what she discovered. It is revealed that the enigmatic Black Hole Army, under the command of Sturm, is the true enemy. Using a CO <a href="/wiki/Doppelganger" class="mw-redirect" title="Doppelganger">doppelganger</a> clone of Andy, Sturm stirred up war among the four countries in order to confuse, weaken, and eventually conquer them.<sup id="cite_ref-7" class="reference"><a href="#cite_note-7">&#91;6&#93;</a></sup> Once this is revealed, the four countries unite to drive Black Hole out of their land, the Cosmo Land, with COs automatically chosen depending on the paths the player took during the game.
        </p>

    </Content>
</Secondary>