


// Variables

// Colors

$red: #d2554c;
$blue: #4fd6ff;


// Other
$distance_small: 20px;
$box-shadow: 0 0.5rem 1rem black;

// Theme

$spacing-small: 10px;
$spacing-normal: 50px;
$spacing-large: 100px;

$font-size-small: 6px;
$font-size-normal: 12px;
$font-size_large: 24px;


$body-color: white;
$primary: $blue;
$color_light: #495057;
$color_dark: #343a40;
$color-highlight-1: #c0cc62;
$color-highlight-2: #cee03f;
$input-color: black;


// List group

$list-group-color: null !default;
$list-group-bg: $color_dark !default;
$list-group-border-color: rgba(black, .125) !default;

// Media breakpoints

$media-breakpoint-small: 1100px;

/*
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
*/







