<div class="win-condition-description">
    <div class="title"><h2>Win condition</h2></div>
    <div class="content"><p>Push the chests into your area. You get one point at the end of every turn for each chest inside your area.</p><p>The player with the most points at the end of the game wins.</p></div>
</div>
